<nav class="sticky top-0 w-full bg-secondary/90 backdrop-blur-md shadow-lg z-50">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
    <a routerLink="/" class="flex items-center space-x-3">
      <img
        src="/assets/Agrogestor_sinTexto.png"
        alt="Agrogestor logo"
        class="h-12 w-auto object-contain"
      />
      <span class="text-2xl font-extrabold text-white">Agrogestor</span>
    </a>
    <div class="space-x-4">
      <a
        routerLink="/login"
        class="px-4 py-2 text-white bg-primary/80 hover:bg-primary rounded-md font-medium transition"
        >Iniciar Sesión</a
      >
      <a
        routerLink="/register"
        class="px-4 py-2 text-primary bg-white hover:bg-secondary/10 rounded-md font-medium transition"
        >Registrarse</a
      >
    </div>
  </div>
</nav>
