<!-- src/app/features/landing/navbar/navbar.component.html -->
<nav class="w-full fixed top-0 left-0 z-50 bg-secondary/10 backdrop-blur-sm shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-4 flex justify-between items-center">
    <a routerLink="/" class="flex items-center space-x-3 ml-2">
      <img
        src="/assets/Agrogestor_sinTexto.png"
        alt="Agrogestor logo"
        class="h-10 w-auto object-contain"
      />
      <span class="text-2xl font-bold text-primary">Agrogestor</span>
    </a>
    <div class="space-x-6">
      <a routerLink="/login" class="text-primary/80 hover:text-primary/40 font-medium">Iniciar Sesión</a>
      <a routerLink="/register" class="text-primary/80 hover:text-primary/40 font-medium">Registrarse</a>
    </div>
  </div>
</nav>
